<h2>All Groups</h2>
<section class="container">
  <% @groups.each do |group| %>
    <div>
      <div>Icon</div>
      <%= link_to "#{ group.name }", group_path(group.id) %>
      <%= group.created_at.strftime("%d/%h/%Y") %>
    </div>
  <% end %>
</section>