<h5 class="text-center text-muted">All Groups</h5>
<div class="text-right my-3"><%= link_to "Create new group", new_group_path, class: "btn btn-outline-success" %></div>
<article class="container bg-white pb-2">
  <%= render @groups %>
</article>